#banner{


    padding-top: 60px;
    background-image: url("../img/banner.jpeg");

    height: 40vh;
    width: 100%;


    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    text-align: center;
}
.nav{
    margin-bottom: 60px;
}

