

#jumbo-pic{
    background-image: url("../img/banner-3.jpeg");

    /* Paralax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    text-align: center;
}
.nav{
    margin-bottom: 60px;
}

.white{
    color:whitesmoke;
}


.margin-bottom-20{
    margin-bottom: 20px;
}

.hr-top{
    width: 80%;
    margin:auto;

    padding-bottom: 20px;
}